/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.hidden {
  display: none;

}



/******************************************
/* BASE STYLES
/*******************************************/

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: center;

}


/******************************************
/* LAYOUT
/*******************************************/
header {}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#war_Container {
  height: 50%;
}

.deck {
  height: 20em;
}

#player_Containers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.card_counter {
  display: flex;
  flex-direction: row;


}